body {
  background: white;
  color: #2E0E02;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 ,hr{
  color: #2E0E02;
}
nav{
  background-color: #581908;
}

.bg-steel {
  background-color: #581908;
}

.site-header .navbar-nav .nav-link {
  color: white;
}

.site-header .navbar-nav .nav-link:hover {
  color: white;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}
#title{
  color: white;
  
}
.carousel{
  
  width: 100%;
  margin-top: -5vh;
}

.carousel-item img{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.carousel-caption{
  color: white;
  font-weight:bold;
  font-size:large;
  margin-bottom: 20vh;
  float:right;

}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

/* CATEGORIES */
.vintage{
  width: 100vw;
  height: 73vh;
  
}
.jumbotron{
  margin-top: -5vh;
  background-image:url('https://media.istockphoto.com/photos/classic-american-muscle-car-picture-id184847285?b=1&k=20&m=184847285&s=170667a&w=0&h=BZY8xk3bWbTbZ6iDQ2TVlH5y1Fb-4vRFZ17x8vR5stc=');
  background-repeat: no-repeat;
  background-size: 100%;
  object-fit: cover;
  position: relative;
}
.caption{
 background-color: #e59500;
 width: 25vw;
 position: absolute;
 left: 3vw;
 bottom: 5vh;
 text-align: center;
 border-radius: 6px;
}

.bid{
  border: 1px solid #e59500;
  border-radius:5px;
  padding:1vh 3vw;
}
.contact{
  padding-top: 3rem;
}
.contact-sec{
  width: 100%;
}
.contact-inner{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.contact-inner-col{
  margin: 2rem;
  flex: 1 1 20rem;
  text-align: center;
}
.contact-inner-col h1{
  padding: 1rem 0;
  color: #2E0E02;
  font-size: 3rem;
  letter-spacing: .1rem;
  text-transform: capitalize;
}
.contact-inner-col p{
  padding: .5rem 0;
  line-height: 1.5rem;
  font-size: 1.5rem;
  text-transform: capitalize;
  color-interpolation-filters: linearRGB;
}
.contact-inner-col input,
.contact-inner-col textarea{
  width: 80%;
  padding: 1rem;
  margin-bottom: 1.2rem;
  border: none;
  border-bottom: .3rem solid grey;
}
.copyright{
  display: flex;
  margin-top: 5rem;
  padding: 3rem;
  text-align: center;
  justify-content: space-between;
  background: grey;
}
.copyright i{
  font-size: 2rem;
  color: brown;
}
.copyright p{
  letter-spacing: .1rem;
  font-size: 1.5rem;
  color: white;
}
.social i{
  padding: 1rem;
  background: white;
  color: brown;
  font-size: 1.5rem;
}
.social i:hover{
  transform: translateY(-2rem);
  color: white;
  cursor: pointer;
  transition: .5s ease;
}