body {
  background: white;
  color: #2E0E02;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 ,hr{
  color: #2E0E02;
}
nav{
  background-color: #581908;
}

.bg-steel {
  background-color: #581908;
}

.site-header .navbar-nav .nav-link {
  color: white;
}

.site-header .navbar-nav .nav-link:hover {
  color: white;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}
#title{
  background-color: #e59500;
  color: #2E0E02;
  width: 30vw;
  
}
#title h1{
  font-weight: bold;
}
.carousel{
  
  width: 100%;
  margin-top: -5vh;
}

.carousel-item img{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.carousel-caption{
  color: white;
  font-weight:bold;
  font-size:large;
  margin-bottom: 20vh;
  float:right;

}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.about-section {
  margin-top: 5vh;
}
.about-img{
  border-radius: 5px;
  width: 30vw;
}
.categories{
  margin-top: 5vh;
}
.deck{
  margin-top: 7vh;
  text-align: center;
  
}
.cat{
  height: 20vh;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  
}
.cat2{
  margin-top: 4vh;
  
}
.cat2 h5{
  font-size: 2rem;
}

.why{
  border-radius: 5px;
  width: 20vw;
  height: 30vh;
}
.reasons{
  margin-top: 10vh;
  
}
.why1{
  margin-top: 3vh;
  text-align: center;
}

.contacts{
  margin-top: 10vh;
  
}
.vintage{
  width: 100vw;
  height: 73vh;
  
}
.cars{
  margin-top: -5vh;
  background-image:url('https://media.istockphoto.com/photos/classic-cars-picture-id501278317?b=1&k=20&m=501278317&s=170667a&w=0&h=gNevY5FuI-o41yr2BIqywhQTQ-PJUinY70E8Gbo5ZQo=');
  background-repeat: no-repeat;
  background-size: 100%;
  object-fit: cover;
  position: relative;
}

.nft{
  margin-top: -5vh;
  background-image:url('https://images.unsplash.com/photo-1642525027649-00d7397a6d4a?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=60&raw_url=true&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8bmZ0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500');
  background-repeat: no-repeat;
  background-size: 100%;
  object-fit: cover;
  position: relative;
}
.jewellery{
  margin-top: -5vh;
  background-image:url('https://media.istockphoto.com/photos/gold-silver-rings-and-chains-picture-id489814272?b=1&k=20&m=489814272&s=170667a&w=0&h=on8nFKt8gXab9Tm4hl3GThVfslokVF7Jcfc2kEcKPs8=');
  background-repeat: no-repeat;
  background-size: 100%;
  object-fit: cover;
  position: relative;
}
.furniture{
  margin-top: -5vh;
  background-image:url('https://media.istockphoto.com/photos/soft-leather-chair-picture-id467025012?b=1&k=20&m=467025012&s=170667a&w=0&h=FMtj45ZeyQqZ4RCbnyQcKmzEyVrhWv-Q5ikKE6O7wWM=');
  background-repeat: no-repeat;
  background-size: 100%;
  object-fit: cover;
  position: relative;
}
.art{
  margin-top: -5vh;
  background-image:url('https://media.istockphoto.com/photos/abstract-art-collage-of-young-woman-with-flowers-picture-id1323655349?b=1&k=20&m=1323655349&s=170667a&w=0&h=3Gx7O1hl1R62fyhQpD5rFrcySaSILlDHJ6QWiD0yMWY=');
  background-repeat: no-repeat;
  background-size: 100%;
  object-fit: cover;
  position: relative;
}
.electronics{
  margin-top: -5vh;
  background-image:url('https://media.istockphoto.com/photos/retro-eighties-electronics-items-background-picture-id1056604952?b=1&k=20&m=1056604952&s=170667a&w=0&h=0lumZ7tkvTo_hdagrhRDgKyIFaqh8NyZjghMefcX3kI=');
  background-repeat: no-repeat;
  background-size: 100%;
  object-fit: cover;
  position: relative;
}

.caption{
 background-color: #e59500;
 width: 25vw;
 position: absolute;
 left: 3vw;
 bottom: 5vh;
 text-align: center;
 border-radius: 6px;
}

.bid{
  border: 1px solid #e59500;
  border-radius:5px;
  padding:1vh 3vw;
}

.bid-item{
  margin-bottom: 5vh;
}
.strong{
  color:#581908
}

.icons {
  color:#e59500;
  font-size: 40px;
}
.categories a{
  text-decoration: none;
}
.categories a :hover{
  color:#fff;
}

 


