{% extends 'base.html'%}
{% block content%}


<div class="row mt-5">
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <div class="container">
            <h2 align="centre">BID CLOSES IN: <strong>3 Days</strong></h2>
        </div>
        <div>
            <form action='#' method="post">
                <h4>Enter BID: </h4>
            <p>Bid will be entered o your behalf up to your selected maximum bid.</p>
            <p>Bid range : 300,000Ksh - 1.2M ksh</p>
            <label for="Bid amount">Bidders stake:
                <input id="price"type="number" placeholder="Bid amount"
                name="price"></input>

                <select>
                    <option value="">500,000KSh</option>
                    <option value="">700,000Ksh</option>
                    <option value="">800,000Ksh</option>
                    <option value="">900,000KSh</option>
                    <option value="">1.2 Million</option>
                </select>
            </label>
            <p>Currency converter</p>
        
            <button type="submit">Confirm Bid</button>
            <button>Cancel</button>

            </form>
            
        </div>
    </div>
    
        
    
    <div class="col-md-5">
        <div>
            <h2>SUMMARY</h2>
    
            <p>Item bid on: {{price}}</p>
            <p>Date: </p>
            <p>Payment method: </p>
            <p>Thank you!: </p>
        </div>
    </div>
    
</div>

{%endblock%}