{% extends 'base.html'%}
{% block content%}


<div>
    <div class="container">
        <h2 align="centre">BID CLOSES IN:</h2>
    </div>
    <div>
        <h4>Enter BID</h4>
        <p>Bid will be entered o your behalf up to your selected maximum bid.</p>
        <p>Bid range : 300,000Ksh - 1.2M ksh</p>
        <select>
            <option value="">500,000KSh</option>
            <option value="">700,000Ksh</option>
            <option value="">800,000Ksh</option>
            <option value="">900,000KSh</option>
            <option value="">1.2 Million</option>
        </select>
        <p>Currency converter</p>
    
        <button>Confirm Bid</button>
        <button>Cancel</button>
    </div>
</div>
<div>
    
</div>
<div>
    <div>
        <h2>SUMMARY</h2>

        <p>Item bid on: </p>
        <p>Item bid on: </p>
        <p>Item bid on: </p>
        <p>Item bid on: </p>
    </div>
</div>

{%endblock%}