{% extends 'base.html'%}
{% block content%}


<div class="row mt-5">
    <div class="col-md-1"></div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
<div class="container-fluid">
            <div class="content-section">
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4 text-center">
                            Bid Now
                        </legend>
                        <div class="form-group">
                            {{ form.name.label(class="form-control-label") }}

                                {{ form.name(class="form-control form-control-lg") }}

                        </div>
                        <div class="form-group">
                            {{ form.price.label(class="form-control-label") }}

                                {{ form.price(class="form-control form-control-lg") }}
                        </div>
                    </fieldset>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-outline-info") }}
                    </div>
                </form>
            </div>
        </div>
        </div>
        <div class="col-md-3"></div>
    </div>


    
        
    
   <div class="col-5">
       <div class="col-md-5">
        <div>
            <h2>SUMMARY</h2>
            {% for itemBid in itemBid %}

            <p>Item bid on: {{itemBid.item}} </p>
            <p>Payment method: {{itemBid.owner}}</p>
            <p>Thank you!:{{itemBid.price}} </p>
            {% endfor %}
        </div>
    </div>
   </div>
    
</div>

{%endblock%}