{% extends 'base.html' %}

{% block content %}



    <div class="jumbotron jumbotron-fluid cars">
        
        <div class="container vintage">
           <div class="card caption">
              <h1 class="display-4">Vintage Cars</h1>
          <p class="lead">Old is gold.</p>  
           </div> 
         
        </div>
      </div>


      <div class="container">
        {% for item in cars %}
        <div class="card bid-item">
            <div class="row">
                <div class="col-md-4">
                   <img src="{{url_for('static', filename='profile_pics/item.image_file')}}">
                </div>
                <div class="col-md-5">
                <div class="card-body">
              <h5 class="card-title">{{item.name}} </h5>
              
              <p class="card_text">{{item.category}}</p> 
              <p class="card-text">{{item.description}}</p> 
                 
              <a href="..."><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                </div>
             </div>
                <div class="col-md-3">
                    <p class="card-text"><small class="text-muted">{{item.price}}</small></p>
                    <button class="bid" ><a href="">BID</a></button>
                </div>

            </div>
          </div>
          {% endfor %}




</div>


{% endblock %}