{% extends 'base.html' %}

{% block content %}



    <div class="jumbotron jumbotron-fluid">
        
        <div class="container vintage">
           <div class="card caption">
              <h1 class="display-4">NFTs.</h1>
          <p class="lead">The future wealth is digital assets.</p>  
           </div> 
         
        </div>
      </div>


      <div class="container">
        {% for item in NFTs %}
        <div class="card bid-item">
            <div class="row">
                <div class="col-md-4">
                   <img class="card-img-top" src="https://images.unsplash.com/photo-1642525027649-00d7397a6d4a?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=60&raw_url=true&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8bmZ0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500" alt="Card image cap"> 
                </div>
                <div class="col-md-5">
                <div class="card-body">
              <h5 class="card-title">{{item.name}} </h5>
              
              <p class="card_text">{{item.category}}</p> 
              <p class="card-text">{{item.description}}</p> 
                 
              <a href="..."><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                </div>
             </div>
                <div class="col-md-3">
                    <p class="card-text"><small class="text-muted">{{item.price}}</small></p>
                    <button class="bid" >BID</button>
                </div>

            </div>
          </div>
          {% endfor %}




</div>


{% endblock %}